

.click-row:hover{
    background-color: grey;
}


html, body{
    height:100%;
    margin:0;
    padding:0;
}

.login-form{ 
	margin: 0 auto;
	max-width: 30vw;
}
.login-form input{
	width: 100% !important;
}

.login-form h2{
	text-align: center;
}


.login-btn{width: 100%;}

.vertical-center {
  min-height: 100%;  
  min-height: 100vh; 
  display: flex;
  align-items: center;
}


header{
	border-bottom: 2px solid black;

}

header .navbar{
	height: 100%;
}

header form{
	margin: 0 auto;
}

header .navigation{
	margin: 0 auto;
}
header .navigation img{
	display: block;
	margin: 0 auto;
	margin-bottom: .5rem;
}
header .navigation h1{
	text-align:center;
}
header .navigation button{
	width: 100%;
	border-radius: 0;
}

header .navigation div.col-md-4{
	padding: 0;
}

//
// homepage
//

#prizemi{
    position:absolute;
    left:0px;
    top:0px;
}

#patro{
    position:absolute;
    left:15px;
    top:0px;
 visibility: hidden;
}

#man_b_1{
    position:absolute;
    left:400px;
    top:450px;
}
